.typeahead-results { position: absolute; z-index: 10000; top: 100%; width: 100%; left: 0; box-shadow: 0 2px 6px rgba(0,0,0,.257); max-height: 342px; overflow-x: hidden; }
.typeahead-results ol { list-style: none; margin: 0px; padding: 0px;  }
.typeahead-results ol li { padding-inline: 0.5rem; padding-block: 0.25rem; background: white; cursor: pointer; }
.typeahead-results ol li:nth-child(2n){ background: #f3f2f1; }
.typeahead-results ol li > button { background: #efefef; text-decoration: none; display: block; color: inherit; border: 0; width: 100%; height: auto; font-size: 1em; cursor: pointer; }
.typeahead-results ol li[aria-selected=true] { background: #2f529f; color: white; }
.typeahead-results ol li .item span {
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: left;
	padding: 0.25em 0.5em;
}
